
.{
			margin: 0;
			border: 0;
			padding: 0;
}
body{
			background: #f0f0f0;
			font: 14px/20px Arial, San-Serif;
			color: #555;
			margin: 0;
}
h1{
			text-align: center;
			font-size: 180%;
			line-height: 120%;
			padding: 5% 0;

	}
h2{
			text-decoration: underline;
			line-height: 200%;
			padding-left: 2%;
}
h3{
			line-height: 0px;
			padding: 4% 0;
}

img{
			text-align: center;
			max-width: 200%;
			height: auto;
			width: auto;
}
a{
			color: #FFF;		
			text-decoration: none; 		/* underlines are removed */
			font-weight: both;
}
a:hover{
			color: #FFF;
			text-decoration: underline;
}
header{
			background: #405580;
			width: 100%;
			height: 86px;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100;		/* it stays above anything else on the page hover comes */
			opacity: 0.90;			/* transperant */
}
#logo{
			margin: 5px;
			padding: 10px;
			float: left;
			width: 100px;
			height: 80px;
			background: url() no-repeat center;
}
nav{
			float: right;
			padding: 35px 20px 20px 0;
}

.projectsection{

	max-height: 200px;
	text-align: center;
	flex-flow: left;
}

.projectsection img{

	height: 200px;
	width: 300px;
}

ul.projectclass{

	list-style: none;
	float: left;
	max-height: 150px;
	display: inline-block;
	padding: 20px;
	margin: 20px;

}

ul.projectclass a{
	color: #010714;
}

.about{
		border-top: 1px solid #FFF;
	    background-color: #405580;
	    max-height: 80px;
	    text-align: center;

}
.about h3{
	text-decoration: underline;
	color: #FFF;
}
.about p{

	float: left;
	margin: 20px;
}

.skills{
		border-top: 1px solid #FFF;
	    background-color: #405580;
	    max-height: 80px;
	    text-align: center;
}
.skills h3{
	text-decoration: underline;
	color: #FFF;
}

.skills img{
	height: 200px;
	width: 200px;
}
.experience{
	    border-top: 1px solid #FFF;
	    background-color: #405580;
	    max-height: 80px;
	    text-align: left;
}
.experience h2{
	max-width: 100%;
	color: #FFF;
}
#menu-icon{
			display: hidden;  /*when website is full doesnt want to show */
			width: 40px;
			height: 40px;
			background: url(http://www.w3newbie.com/wp-content/uploads/icon.png) center;
}
a:hover#menu-icon{
	border-radius:  4px 4px 0 0;
}
ul.slides.social{
	list-style: none;   /* to get rid of bullet points */
}
nav ul li{
	display: inline-block;
	float: left;
	padding: 10px;
}
.current{
	color: #FFF;
	text-decoration: underline;
}
#doc{
	margin: 40px 0;
}
#content{
	margin: 0 auto;
	max-width: 1140px;
	margin-top: 110px;
}
.blueberry{

	max-width: 960px;
	margin-top: 110px;
}
section{

	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
.clear{
	clear: both;
}
article{
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding: 4%;
}
aside{
	float: right;
	margin: 0 auto;
	width: 35%;
	height: auto;
	padding: 3%;
}
ul.gym li{
	display: hidden;
	padding-left: 3%;
}
footer{

	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;     /* to lighten up gray portion */
}
footer p, footer h3{
	color: #FFF;
}
footer p a{
	color: #FFF;
	text-decoration: none;
}
ul.social li{
	display: inline;
}
ul.social li img{
	height: 50px;
}
footer.second{
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}



/*---------------------------MEDIA ----------------*/

@media screen and (max-width: 478px){
	body{
		position: absolute;
	}
}
@media screen and (max-width: 740px){
	header{
		position: absolute;
	}
	#menu-icon{
		display: inline-block;
	}
	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 60px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
	nav li{
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	 nav:hover ul{
	 	display: block;	
	 }
	 section{
	 	float: left;
	 	width: 100%;
	 	margin: 0;
	 	padding: 0;
	 }
	 article{
	 	float: left;
	 	width: 100%;
	 	margin: 0;
	 	padding: 0;
	 }
	 aside{
	 	float: left;
	 	width: 100%;
	 	margin: 0;
	 	padding: 0;
	 }
}


.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align:center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span { background: #404040; 
